@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  /*width: 100%;
  height: 100%;*/
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto 0 auto;
    width:1280px;
    height: 740px;
}

#output {
  padding: 20px;
  text-align: center;
}

.key {
    width: 42px;
    height: 42px;
    position: relative;
    margin: 3px;
    display: inline-block;
    box-sizing:border-box;
}

.key div {
    transition-property: top, bottom, height;
    transition-duration: 0.08s;
    transition-timing-function: ease-in;
}

.pressed div {
    transition-timing-function: ease-out;
}

.key .head {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid #DDDDDD;
    box-sizing:border-box;
    z-index: 100;

    border-radius:21px;
    background-color: #A8A8A8;
    cursor: pointer;

    box-shadow:0 4px 0 #888888, inset 0 2px 3px #888888;

    color: #FFFFFF;
    text-shadow: 0 0 2px #5A5A5A;
}

.key .stem, .key .base {
    width: 4px;
    position:absolute;
    left:50%;
    transform: translate(-50%,0);
}

.key .base {
    background-color: #888888;
    z-index: 50;

    top:21px;
    height:32px;
    box-shadow: inset 0 28px 0 #707070;
}

.key .stem {
    background-image: linear-gradient(#202020, #707070);
    z-index: 0;

    bottom:21px;
    height:300px;
}

.row1 .base, .row1 .stem {
    left: 35%;
}

.row2 .base, .row2 .stem {
    left: 65%;
}

.row4 .base, .row4 .stem {
    left: 51.5%;
}

.key .upper, .key .middle, .key .lower {
    position:absolute;
    width:100%;
    text-align:center;
    box-sizing:border-box;
}

.key .upper {
    top: 1px;
}

.key .middle {
    top: 7px;
    font-size:120%;
}

.key .lower {
    bottom: 1px;
}

.pressed .head {
    top: 12px;
}

.pressed .base {
    top: 30px;
}

.pressed .stem {
    bottom:30px;
    height: 309px;
}

.keyRow {

}

.keyboard {
    /*border: 1px solid red;*/
    height:320px;
    width:550px;
    box-sizing:border-box;
    padding-top: 30px;
    overflow:hidden;
    /*background-color: #202020;*/
    text-align:center;
}

.spacebar {
    width: 392px;
}

.keyboardArea {
    width: 650px;
    height: 350px;
    position:absolute;
    margin:0 auto 0 auto;
    left: 315px;
    bottom: -230px;
}

.keyboardContainer {
    top:10px;
    position:absolute;
    left:50px;
}

.keyboardUnderlay {
    width: 100%;
    height:100%;

    background-image: url("images/keyboard_underlay.png");
    position:absolute;
}

.keyboardBackground {
    width:550px;
    height:320px;
    background-color: #202020;
    top: 10px;
    position:absolute;

    left:50px;
}

.keyboardOverlayTop {
    width: 650px;
    height: 42px;
    top: 0;

    background-image: url("images/keyboard_overlay_top.png");
    position:absolute;
    z-index:200;
}

.keyboardOverlayBottom {
    width: 650px;
    height: 44px;
    bottom: 0;

    background-image: url("images/keyboard_overlay_bottom.png");
    position:absolute;
    z-index:200;
}

.boombox {
    position:relative;
    width:1280px;
    height: 500px;
    background-color: #878d98;

}

.speakerContainer {
    position:absolute;
}

.speakerLarge {
    width:256px;
    height:256px;

    top:200px;
}

.speakerSmall {
    width:134px;
    height:134px;

    top:50px;
}

.speakerLeft {
    left: 30px;
}

.speakerRight {
    right: 30px;
}

.speaker {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:100%;
    height:100%;
}

.speakerSmall .speakerInner {
    background-image: url("images/speaker_small_inner.png");
}
.speakerSmall .speakerOuter {
    background-image: url("images/speaker_small_outer.png");
}

.speakerLarge .speakerInner {
    background-image: url("images/speaker_large_inner.png");
}
.speakerLarge .speakerOuter {
    background-image: url("images/speaker_large_outer.png");
}

.cassette {
    position:relative;

    width:250px;
    height:160px;
}

.cassette .overlay {
    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    background-image: url("images/cassette.png");
}

.cassette .spool {
    position:absolute;
    top:72px;

    width:26px;
    height:26px;

    border-radius:50%;
    border: 15px solid #e4e5e1;
    box-shadow: 0 0 0 20px #202020;
}

.cassette .spool div {
    position:absolute;
    width: 20px;
    height: 4px;
    border: 10px solid #e4e5e1;
    border-top: 0 none transparent;
    border-bottom: 0 none transparent;

    left:50%;
    top:50%;
}

.cassette .left {
    left:71px;
    transform: translate(-50%,-50%);
}

.cassette .right {
    right:71px;
    transform: translate(50%,-50%);
}

.cassette .label {
    position:absolute;
    width:195px;
    left:35px;
    height: 20px;
    top:28px;
    /*border:1px solid red;*/
    box-sizing: border-box;
    font: bold 14px courier, courier new, monospace;
    color:#655040;
    text-align:left;
}