@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#output {
  padding: 20px;
  text-align: center;
}

.key {
    width: 42px;
    height: 42px;
    position: relative;
    margin: 3px;
    display: inline-block;
    box-sizing:border-box;
}

.key div {
    transition-property: top, bottom, height;
    transition-duration: 0.08s;
    transition-timing-function: ease-in;
}

.pressed div {
    transition-timing-function: ease-out;
}

.key .head {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
    box-sizing:border-box;
    z-index: 100;

    border-radius:21px;
    background-color: #DDDDDD;
    cursor: pointer;
}

.key .stem, .key .base {
    width: 4px;
    position:absolute;
    left:50%;
    transform: translate(-50%,0);
}

.key .base {
    background-color: #CCCCCC;
    z-index: 50;

    top:21px;
    height:30px;
}

.key .stem {
    background-color: #888888;
    z-index: 0;

    bottom:21px;
    height:300px;
}

.row1 .base, .row1 .stem {
    left: 35%;
}

.row2 .base, .row2 .stem {
    left: 65%;
}

.row4 .base, .row4 .stem {
    left: 51.5%;
}

.key .upper, .key .middle, .key .lower {
    position:absolute;
    width:100%;
    text-align:center;
    box-sizing:border-box;
}

.key .upper {
    top: 2px;
}

.key .middle {
    top: 7px;
    font-size:120%;
}

.key .lower {
    bottom: 2px;
}

.pressed .head {
    top: 12px;
}

.pressed .base {
    top: 30px;
}

.pressed .stem {
    bottom:30px;
    height: 309px;
}

.keyRow {

}

.keyboard {
    border: 1px solid red;
    height:320px;
    width:550px;
    box-sizing:border-box;
    padding-top: 30px;
    overflow:hidden;
}

.spacebar {
    width: 392px;
}